* {
    box-sizing: border-box;
    font-family: $sidebar-font;

}


.main {
    width: calc(100% - 240px);
    max-width: 1200px;
    margin: 70px 100px 20px 220px;
    //background-color: white;
    // margin-left: 220px;
    // margin-top: 70px;
}

.row::before,
.row::after {
    content: "";
    display: table;
    clear: both;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    background-color: #000;
    height: 200vh;
    color: white;
}