@mixin button-orange {
    border-radius: 5%;
    border: 1px solid darkorange;
    background-color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    &:hover {
        background-color: orange;
        cursor: pointer;
    }

}