/* Colors */
$main-background-color: whitesmoke;
$sidebar-font-color: #777;
$main-font-grey: #ccc;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$sidebar-font: "Roboto",
sans-serif;
$paragraph-font: "Open Sans",
Helvetica,
Arial;