@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "glyphter";


body {
    background-color: white;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.show-menu {
    display: none;
    @include button-orange;
    margin: 0 auto;

}




.sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    background-color: #000;
    height: 200vh;
    color: $sidebar-font-color;
}


.sidebar_header div {
    display: inline-block;
    float: left;
}



.sidebar_menu {
    line-height: 100%;
    font-size: 26px;
    font-family: $sidebar-font;
    font-weight: 200; //nie działa, why???


    i {
        text-align: center;
        padding: 14px 22px;

        &:hover {
            color: white;
            background-color: #222;
        }
    }
}

.sidebar_menuitems {

    padding: 8px 0;
    border-bottom: 1px solid $sidebar-font-color;


    .menu-items {
        list-style-type: none;
        padding-left: 0;
    }

}

.menu-item {

    padding: 10px;
    border-left: 4px solid black;

    &:hover {
        color: white;
        background-color: #222;
        border-left: 4px solid orange;

        a {
            color: white;
        }
    }

    a {
        color: $sidebar-font-color;
        text-decoration: none;

        i {
            padding: 12px;
        }
    }
}

.sidebar_photo {

    padding-left: 20px;

    .sidebar_photo-box {
        display: flex;
        justify-items: space-around;
    }

    h5 {
        text-transform: uppercase;
    }

    img {
        border-radius: 50%;
    }

    p {
        margin-left: 12px;
    }
}

//topbar

.topbar {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 200px;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    border-bottom: 1px solid $main-font-grey;
    background-color: $main-background-color;
    color: $main-font-grey;


    .topbar_item {
        padding: 16px 26px;
        border-left: 1px solid $main-font-grey;
    }

    i {
        padding: 0 6px;
    }

    .topbar_wallet {
        font-size: 18px;
        font-weight: bold;
    }

    .topbar_profile {
        color: blue;
        font-size: 14px;
    }
}

//main body


.main_general-stats {

    background-color: $main-background-color;
    color: $main-font-grey;


    h4 {
        text-transform: uppercase;
        padding: 18px 0 18px 26px;
        border-bottom: 1px solid $main-font-grey;
    }


    .main_dates-container {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        border-bottom: 1px solid $main-font-grey;
    }


    .main_dates-container-begin,
    .main_dates-container-end,
    .icon-calendar {
        border: 1px solid $main-font-grey;
        border-collapse: separate;
        padding: 10px 50px 8px 10px;
        color: black;
        background-color: #fff;
    }

    .main_dates-container-begin {
        border-right: none;
    }

    .main_dates-container-end {
        border-right: none;
    }

    .icon-calendar {
        border-left: none;
        padding-right: 20px;
        color: $main-font-grey;
    }

    .main_dates-refresh {
        width: 44px;
        margin-left: 14px;
        @include button-orange;
    }

}

.main_figures {
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
    margin: 30px 0;
}

.figures_column {
    width: 45%;
}

.figures_row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $main-font-grey;
    line-height: 200%;
    padding-top: 4px;
}

.figures_text {
    font-weight: bold;
}

.figures_number {
    color: black;
}

.earn_chart {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    padding: 0 10%;
    align-items: center;
}

.earn_chart-title {
    font-weight: 700;
    padding: 26px 0;
    align-self: flex-start;
    $main-font-grey: #bbb;
}

.earn_chart-image {
    width: 100%;
    padding-bottom: 36px;
}

//links

.links {

    background-color: $main-background-color;
    color: $main-font-grey;


    .links_header {
        text-transform: uppercase;
        padding: 18px 0 18px 26px;
        border-bottom: 1px solid $main-font-grey;
        margin-bottom: 0;
    }

    .links_button-container {
        display: flex;
        justify-content: center;
        margin: 30px 0;
        padding-bottom: 20px;
    }

    .links_button {
        @include button-orange;
        padding: 10px 20px;
        font-weight: 400;
    }

    .links_row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $main-font-grey;
        padding: 20px 0;
        margin: 0 20%;

        &:hover {
            background-color: #eee;
            cursor: pointer;

            [class*='links_icon-'] {
                opacity: 1;
            }

        }
    }

    .links_name-column {
        font-weight: 700;
        width: 150px;
        padding-left: 10px;
    }

    .links_http-column {
        width: 250px;
    }

    .links_icons-column {
        padding-right: 10px;
    }

    .icon-links {
        color: orange;
    }

    [class*='links_icon-'] {
        opacity: 0;
        padding: 6px;
    }

    .links_links {
        text-decoration: none;
        color: rgb(93, 93, 179);
    }
}

@media(max-width: 767px) {
    .topbar {
        display: none;
    }

    .main {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        overflow: hidden;

    }

    .main_figures {
        width: 100%;
        flex-wrap: wrap;

    }

    .figures_column {
        width: 100%;
    }



    .sidebar {
        z-index: 1;
        left: -200px;
        top: 0;
        bottom: 0;
        transition: all 0s;
    }

    .show-menu {
        display: flex;
    }

    .mobile-view {
        display: block;
    }
}