@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "glyphter";


body {
    background-color: #f8f8f094;
}

//sidebar

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    background-color: #000;
    height: 200vh;
    color: $sidebar-font-color;

}

// .sidebar_header {
//     //display: block;
// }

.sidebar_header div {
    display: inline-block;
    float: left;

}



.sidebar_menu {
    line-height: 100%;
    font-size: 26px;
    font-family: $sidebar-font;
    font-weight: 200; //nie działa, why???


    i {
        text-align: center;
        padding: 14px 22px;

        &:hover {
            color: white;
            background-color: #222;
        }
    }
}

.sidebar_menuitems {

    padding: 8px 0;
    border-bottom: 1px solid $sidebar-font-color;


    .menu-items {
        list-style-type: none;
        padding-left: 0;
    }

}

.menu-item {

    padding: 10px;
    border-left: 4px solid black;

    &:hover {
        color: white;
        background-color: #222;
        border-left: 4px solid orange;

        a {
            color: white;
        }
    }

    a {
        color: $sidebar-font-color;
        text-decoration: none;

        i {
            padding: 12px;
        }
    }
}

.sidebar_photo {

    padding-left: 20px;

    .sidebar_photo-box {
        display: flex;
        justify-items: space-around;
    }

    h5 {
        text-transform: uppercase;
    }

    img {
        border-radius: 50%;
    }

    p {
        margin-left: 12px;
    }
}

//topbar

.topbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 200px;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    border-bottom: 1px solid $main-font-grey;
    background-color: $main-background-color;
    color: $main-font-grey;


    .topbar_item {
        padding: 16px 26px;
        border-left: 1px solid $main-font-grey;
    }

    i {
        padding: 0 6px;
    }

    .topbar_wallet {
        font-size: 18px;
        font-weight: bold;
    }

    .topbar_profile {
        color: blue;
        font-size: 14px;
    }
}

.main_general-stats {
    position: absolute;
    left: 220px;
    top: 70px;
    right: 20px;
    background-color: $main-background-color;
    border: 1px solid $main-font-grey;
    color: $main-font-grey;

    h4 {
        text-transform: uppercase;
        padding-left: 26px;
    }
}